.component-usage {
}

.title {
  font-weight: 300;
  font-size: 1.8rem;
}

.content {
  padding: 20px;
  border-radius: 5px;
  background: $cloudy-gray;
}

.preview {
  padding: 20px;
  background: $white;
  border-radius: 5px 5px 0 0;
  border: 1px solid $gray;
}

.source {
  border-radius: 0 0 5px 5px;
  margin-top: 20px;
  background: $white;
  border: 1px solid $gray;
}
